<!-- <h3>My leave records</h3>
    
    <div class="cart-item" *ngFor="let leave of leaves; index as leaveId">
        <span>{{ leave.start_date }}</span> | 
        <span>{{ leave.end_date }}</span> | 
        <span>{{ Status[leave.status].name }}</span> | 
        <a   (click)="editLeave(leaveId)">
            Edit
        </a> 
    </div> -->
    
    
    
    <div class="container-fluid dashboard-content ">
        
        <div class="ecommerce-widget">
            <div class="row">
                <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">All Leave Records</h5>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="bg-light">
                                        <tr class="border-0">
                                            <th class="border-0"></th>
                                            <th class="border-0">Employee</th>
                                            <th class="border-0">Application Date</th>
                                            <th class="border-0">Start Date</th>
                                            <th class="border-0">End Date</th>
                                            <th class="border-0">Status</th>
                                            
                                            <th class="border-0"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let leave of leaves; index as index">
                                            <td>{{index+1}}</td>
                                            <td>{{ leave.employee }} </td>
                                            <td>{{ leave.application_date }} </td>
                                            <td>{{ leave.start_date }} </td>
                                            <td>{{ leave.end_date }} </td>
                                            <td>{{ Status[leave.status].name }}</td>
                                            
                                            <td><a style="color: rgb(37, 37, 146); cursor: pointer;" (click)="editLeave(index)">
                                                Update
                                            </a> </td>
                                            
                                            <!-- <td><span class="badge-dot badge-brand mr-1"></span>InTransit </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                       
                    <div *ngIf="show" >
                            <h5 class="card-header">Update Leave</h5>
                        <form style="max-width: min-content;" (ngSubmit)="updateLeave()">
                            <label position="stacked">Start date <span color="danger">*</span></label>
                            <input type="date" [(ngModel)]="start_date" name="start_date" class="form-control">
                            
                            <label position="stacked">End date <span color="danger">*</span></label>
                            <input type="date" [(ngModel)]="end_date" name="start_date" class="form-control">
                            <input type="number" [(ngModel)]="id" hidden name="id" class="form-control">
                            
                            <select [(ngModel)]="status" name="status" selected="status" >
                                <option *ngFor="let stat of Status; index as id" [value]="id" style="text-transform: capitalize;">{{stat.name}}</option>
                            </select>
                            
                            <p *ngIf="status" class="error-span">{{message}}</p>
                            <div class="padding">
                                <button expand="block" type="submit" class="no-margin">Apply</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
