<form (ngSubmit)="createLeave()">
    <label position="stacked">Start date <span color="danger">*</span></label>
    <input type="date" [(ngModel)]="start_date" name="start_date" class="form-control">
    
    <label position="stacked">End date <span color="danger">*</span></label>
    <input type="date" [(ngModel)]="end_date" name="end_date" class="form-control">
    <input type="number" [(ngModel)]="id" hidden name="id" class="form-control">
    
    <p *ngIf="status" class="error-span">{{message}}</p>
    <div class="padding">
        <button expand="block" type="submit" class="no-margin">Apply</button>
    </div>
    
</form>