.error-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #B00020;
    margin: 10px 0;
    padding-left: 16px;
    max-width: 169px;
}