<h2 style="margin-top: 40px;">Sign up here</h2>

<form (ngSubmit)="signup()">
  <label position="stacked">First Name <span color="danger">*</span></label>
  <br>
  <input required type="span" [(ngModel)]="first_name" name="first_name">
  <br>
  <label position="stacked">Last Name <span color="danger">*</span></label>
  <br>
  <input required type="span" [(ngModel)]="last_name" name="last_name">
  <br>
  <label position="stacked">Email <span color="danger">*</span></label>
  <br>
  <input required type="email" [(ngModel)]="email" name="email">
  <br>
  <label position="stacked">Password <span color="danger">*</span></label>
  <br>
  <input required type="password" [(ngModel)]="password" name="password">
  
  <p *ngIf="status" class="error-span">{{message}}</p>
  <div class="padding">
    <button expand="block" type="submit" class="no-margin">Create account</button>
  </div>
  
</form>