<h2 style="margin-top: 40px;">Please, log in to continue</h2>
<form (ngSubmit)="login()" method="POST">
  <label position="stacked">Email</label>
  <br>
  <input required type="email" [(ngModel)]="email" name="email">
  <br>
  <label position="stacked">Password </label>
  <br>
  <input required type="password" [(ngModel)]="password" name="password">
  <br>
  <p *ngIf="status" class="error-span">{{message}}</p>
  <div class="padding">
    <button expand="block" type="submit" style="top: 240px;" fill="outline">&nbsp; Login</button>
  </div>
</form>
