<!-- <h3>My employee records</h3>
    
    <div class="cart-item" *ngFor="let employee of employees; index as employeeId">
        <span>{{ employee.start_date }}</span> | 
        <span>{{ employee.end_date }}</span> | 
        <span>{{ Status[employee.status].name }}</span> | 
        <a   (click)="editEmployee(employeeId)">
            Edit
        </a> 
    </div> -->
    
    
    
    <div class="container-fluid dashboard-content ">
        
        <div class="ecommerce-widget">
            <div class="row">
                <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">All Employee Records</h5>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="bg-light">
                                        <tr class="border-0">
                                            <th class="border-0"></th>
                                            <th class="border-0">First Name</th>
                                            <th class="border-0">Last Name</th>
                                            <th class="border-0">Email</th>
                                            <th class="border-0">Role</th>
                                            
                                            <th class="border-0"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let employee of employees; index as index">
                                            <td>{{index+1}}</td>
                                            <td>{{ employee.first_name }} </td>
                                            <td>{{ employee.last_name }} </td>
                                            <td>{{ employee.email }} </td>
                                            <td> <span *ngIf="employee.is_admin">Admin</span></td>
                                            
                                            <td>
                                                <!-- <a style="color: rgb(37, 37, 146); cursor: pointer;" (click)="editEmployee(index)">
                                                    Update Role
                                                </a>  -->
                                            </td>
                                            
                                            <!-- <td><span class="badge-dot badge-brand mr-1"></span>InTransit </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    
                    <div *ngIf="show" >
                            <h5 class="card-header">Update Employee</h5>
                        <form style="max-width: min-content;" (ngSubmit)="updateEmployee()">
                            <input disabled [(ngModel)]="name" name="name" class="form-control">
                            <input type="number" [(ngModel)]="id" hidden name="id" class="form-control">
                            
                            <select name="status" selected="is_admin" >
                                <option [value]="0" style="text-transform: capitalize;">Admin</option>
                                <option [value]="1" style="text-transform: capitalize;">Normal</option>
                            </select>
                            
                            <p *ngIf="status" class="error-span">{{message}}</p>
                            <div class="padding">
                                <button expand="block" type="submit" class="no-margin">Upadate Role</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    