<div class="container-fluid dashboard-content ">
  
  <div class="ecommerce-widget">
    <div class="row">
      <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
        <div class="card">
          <h5 class="card-header">My Leave Records</h5>
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table">
                <thead class="bg-light">
                    <tr>
                        <td colspan="9"><button [disabled]="canApply" [routerLink]="['/create-leave']"  class="btn btn-outline-light float-right apply-button">Apply For A new Leave</button>
                        <small *ngIf="canApply">Sorry You can't apply for a new leave as you still have a running/pending/approved leave!</small>
                        </td>
                      </tr>
                  <tr class="border-0">
                    <th class="border-0"></th>
                    <th class="border-0">Application Date</th>
                    <th class="border-0">Start Date</th>
                    <th class="border-0">End Date</th>
                    <th class="border-0">Remaining Days</th>
                    <th class="border-0">Status</th>
                    
                    <!-- <th class="border-0">Status</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let leave of leaves; index as index">
                    <td>{{index+1}}</td>
                    <td>{{ leave.application_date }} </td>
                    <td>{{ leave.start_date }} </td>
                    <td>{{ leave.end_date }} </td>
                    <td>{{ getDiff(leave.start_date, leave.end_date) }} </td>
                    <td>{{ Status[leave.status].name }}</td>
                    
                    <!-- <td>20</td> -->
                    
                    <!-- <td><span class="badge-dot badge-brand mr-1"></span>InTransit </td> -->
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
        
      </div>
    </div>
  </div>
</div>
